.dx-action-table {
	.dx-column-shrink {
		width: 1px;
	}

	// Make sure the checkbox column is left aligned and always the same size
	thead > tr:first-child > th:first-child, tbody > tr:not(.dx-table-summary-tr) > td:first-child {
		text-align: left;
		width: 1px;
		padding-left: 1rem;
	}
}

.dx-table-summary-tr {
	background-color: rgb(243, 244, 246);

	&.has-selection {
		background-color: rgb(37, 99, 235);
		color: rgb(255, 255, 255);
	}

	&.is-loading {
		opacity: 0.5;
	}

	.dx-table-summary-td {
		font-weight: 700;
		background-color: rgb(243, 244, 246);
		padding-left: 1.25rem;

		&.has-selection {
			background-color: rgb(37, 99, 235);
			color: rgb(255, 255, 255);
			padding-left: 1rem;
		}
	}
}
