.dx-dialog {
	.dx-dialog-card {
		overflow: hidden;
	}

	.dx-dialog-title {
		padding-left: 1.5rem;
		padding-right: 2.5rem;
		border-bottom: 1px solid rgb(209, 213, 219);
		font-weight: 400;
	}

	.dx-dialog-subtitle {
		margin-top: 0.25rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.dx-dialog-content {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		background-color: rgb(243, 244, 246);
	}

	.dx-dialog-actions {
		padding: 1rem 1.5rem;
		border-top: 1px solid rgb(209, 213, 219);
	}

	.dx-dialog-button {
		& + .dx-dialog-button {
			margin-left: 1rem;
		}
	}

	.dx-close-button {
		padding: 1rem;
		color: rgb(0, 0, 0);
	}

	.dx-dialog-button-confirm .dx-dialog-button {
		background-color: rgb(37, 99, 235);
		color: rgb(255, 255, 255);
	}

	.dx-dialog-button-cancel {
		flex-grow: 1;
	}

	&.dx-info-dialog {
		.dx-dialog-actions {
			& > .flex-grow {
				text-align: right;
			}
		}
	}

	// Light theme variant
	&.dx-dialog-light {
		.dx-dialog-card {
			background-color: rgb(255, 255, 255);
		}

		.dx-dialog-header {
			background-color: rgb(255, 255, 255);
			border-bottom: 1px solid rgb(226, 232, 240);
		}

		.dx-dialog-title {
			border-bottom: 0;
			color: rgb(30, 41, 59);
		}

		.dx-dialog-subtitle {
			color: rgb(100, 116, 139);
		}

		.dx-dialog-content {
			background-color: rgb(255, 255, 255);
		}

		.dx-dialog-actions {
			background-color: rgb(248, 250, 252);
			border-top: 1px solid rgb(226, 232, 240);
		}

		.dx-close-button {
			color: rgb(148, 163, 184);
			transition-property: color;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 150ms;

			&:hover {
				color: rgb(71, 85, 105);
			}
		}
	}
}
