.dx-field-label {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-bottom: 0.375rem;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 0.25rem;
  }

  .dx-field-required {
    color: rgb(127, 29, 29);
    margin-left: 0.125rem;
    bottom: 0.25rem;
    position: relative;
  }
}

.q-field {
  .q-field__label {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgb(55, 65, 81);
  }
}
