.dx-panels-drawer-header {
  border-bottom-width: 1px;
}

.dx-panels-drawer-panels {
  background-color: rgb(243, 244, 246);
}

.dx-panels-drawer-tabs {
  background-color: rgb(229, 231, 235);
  border-right-width: 1px;

  .q-tab {
    text-align: left;
    padding: 0.625rem 0.5rem;
    border-radius: 0.5rem;

    &:hover {
      background-color: rgb(226, 232, 240);
    }

    &.q-tab--active {
      color: rgb(255, 255, 255);
      background-color: rgb(37, 99, 235);
    }
  }
}
